* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: #1E2538;
}

.movie_bg {
  background-image: url('/public/movie_bg.png');
  height: 100vh;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  background-size: cover;
  transition: .5s;
  // backdrop-filter: brightness(10%);
}

.container {
  width: 1200px;
  margin: 0 auto;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;


  #logo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .logo {
      display: flex;
      gap: 6px;

      p {
        color: #FFF;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;


        span {
          color: #3657CB;
          font-size: 25px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
      }
    }
  }


  nav {
    display: flex;
    gap: 30px;


    a {
      color: #FFF;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }
  }

  #buttons {
    display: flex;
    gap: 12px;

    .search {
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      background-image: url('/public/search.svg');
    }

    .signin {
      padding: 13px 46px;
      border-radius: 10px;
      background: #3657CB;
      box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
      border: none;
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 166.5%;
      cursor: pointer;
    }
  }
}

.now_playing_box {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .now_in_kino {
    color: #FFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  hr {
    width: 50px;
    margin-top: 20px;
  }

  .genre_menu {
    display: flex;
    gap: 50px;
    margin-top: 15px;

    .genre {
      color: rgba(255, 255, 255, 0.35);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      cursor: pointer;
    }
  }


}

.active {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.grid_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 22px;
  row-gap: 29px;
  padding-top: 65px;


  .box {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .poster {
      border-radius: 10px;
      width: 250px;
      height: 350px;
      position: relative;
      background-size: cover;

      .rating {
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 5px 10px;
        border-radius: 5px;
        background: #4BCB36;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        z-index: 99;
      }

      .hovered {
        display: none;
        position: absolute;
        border-radius: 10px;
        background: rgba(54, 87, 203, 0.65);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .movie_card {
          position: absolute;
          color: #3657CB;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          border-radius: 10px;
          background: #FFF;
          box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.40);
          translate: -50% -50%;
          top: 50%;
          left: 50%;
          width: 225px;
          height: 71px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }

    .movie_info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .movie_name {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .movie_genre {
        color: #F2F60F;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.show_btn {
  display: flex;
  justify-content: center;
  padding-top: 50px;


  .show_hide {
    padding: 15px 35px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.5%;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: none;
    cursor: pointer;
  }
}

.next {
  padding-top: 50px;
}


.pop_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;

  .pop_title {
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  hr {
    width: 50px;
  }

  .time_choose {
    display: flex;
    align-items: center;
    gap: 15px;

    .time,
    .time_all {
      color: rgba(255, 255, 255, 0.35);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      cursor: pointer;
    }

    .active_time {
      color: #FFF;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
    }
  }
}


swiper-container {
  width: 100%;
  height: 530px;
  padding-bottom: 50px;
}

.swipe_box {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .poster {
    border-radius: 10px;
    width: 250px;
    height: 350px;
    position: relative;
    background-size: cover;

    .rating {
      position: absolute;
      top: 12px;
      right: 12px;
      padding: 5px 10px;
      border-radius: 5px;
      background: #4BCB36;
      color: #FFF;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      z-index: 99;
    }

    .hovered {
      display: none;
      position: absolute;
      border-radius: 10px;
      background: rgba(54, 87, 203, 0.65);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .movie_card {
        position: absolute;
        color: #3657CB;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.40);
        translate: -50% -50%;
        top: 50%;
        left: 50%;
        width: 225px;
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  .movie_info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .movie_name {
      color: #FFF;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .movie_genre {
      color: #F2F60F;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.trailers {
  padding-bottom: 70px;
}

.another_trailers {
  overflow-x: scroll;
  display: flex;
  gap: 50px;
  padding-bottom: 30px;
}

::-webkit-scrollbar {
  background: #1B2133;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #040e2f62;
  border-radius: 12px;
}

.top {
  display: flex;
  gap: 30px;
  padding-bottom: 50px;


  .actor {
    width: 350px;
    height: 350px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    p {
      position: absolute;
      top: 15px;
      left: 16px;
      color: #F2F60F;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      /* 133.333% */
    }

    h1 {
      color: #FFF;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 250px;
      padding-left: 30px;
    }

    h2 {
      color: rgba(255, 255, 255, 0.55);
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-left: 30px;
    }


  }
}

.others {
  border-radius: 10px;
  background: #1B2133;
  width: 500px;
  height: 350px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

  .person {
    width: 90%;
    border-bottom: solid 2px #1E2538;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      top: 30px;
      left: 300px;
      color: #F2F60F;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.actor_name {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.actor_orig_name {
  color: #3B486B;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

body {
  position: relative;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #00000097;
  z-index: 100;
  transition: opacity 0.5s ease-in-out;

  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 800px;
    background-color: #1B2133;
    height: 550px;
    z-index: 101;
    padding: 30px;
    border-radius: 13px;
  }
}

.modal.show {
  display: block;
  opacity: 1;
}

body.modal-open {
  overflow: hidden;
}

form {
  padding-top: 30px;
}

.search_div {
  width: 90%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;


  input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
  }
}

.logo_name {
  display: flex;
  gap: 6px;
  justify-content: center;

  p {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;


    span {
      color: #3657CB;
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }
}

.error {
  color: red;
  border: 1px solid red;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;

  img {
    width: 30px;
    height: 30px;
  }
}

.results {
  display: flex;
  align-items: center;
  height: 320px;
  gap: 20px;
  overflow-x: scroll;
  padding-left: 20px;
  border-radius: 13px;
  margin-top: 50px;

  .result {
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    .poster {
      width: 200px;
      height: 250px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 13px;
    }

    .result_title {
      text-align: start;
      color: #FFF;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 99%;
    }
  }
}

.news_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

  .main_new {
    grid-column: 1/5;
    grid-row: 1/4;
    background-image: url('/public/main_new.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 900px;
    height: 600px;
    border-radius: 10px;
  }

  .new {
    grid-column: 5;
    background-size: cover;
    background-repeat: no-repeat;
    width: 256.307px;
    height: 184.15px;
    background-size: 100% 100%;
    border-radius: 10px;
  }

  #first_new {
    background-image: url('/public/new_1.png');
  }

  #second_new {
    background-image: url('/public/main_new.png');

    .active_new {
      border-radius: 10px;
      width: 256.307px;
      height: 184.15px;
      background: rgba(54, 87, 203, 0.58);
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 12px 26px 12px 26px;
        cursor: pointer;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.5%;
        border-radius: 10px;
        border: 2px solid #FFF;
        background: none;
      }
    }
  }

  #third_new {
    background-image: url('/public/new_2.png');
  }
}

.new_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 50px;


  h1 {
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  button {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
  }

  .time_menu {
    display: flex;
    align-items: center;
    gap: 20px;


    span {
      color: rgba(255, 255, 255, 0.35);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
    }

    .active_time {
      color: white;
    }
  }

}


.upcoming {
  padding-top: 50px;
}


.upcoming_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 22px;
  row-gap: 29px;

  .box {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .poster {
      border-radius: 10px;
      width: 250px;
      height: 350px;
      position: relative;
      background-size: cover;

      .rating {
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 5px 10px;
        border-radius: 5px;
        background: #4BCB36;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        z-index: 99;
      }

      .hovered {
        display: none;
        position: absolute;
        border-radius: 10px;
        background: rgba(54, 87, 203, 0.65);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .movie_card {
          position: absolute;
          color: #3657CB;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          border-radius: 10px;
          background: #FFF;
          box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.40);
          translate: -50% -50%;
          top: 50%;
          left: 50%;
          width: 225px;
          height: 71px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }

    .movie_info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .movie_name {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .movie_genre {
        color: #F2F60F;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

footer {
  padding-top: 100px;
}

.foot_box {
  background-image: url('/public/footer_bg.png');
  height: 550px;
  width: 100%;
  border-radius: 10px;
}

.bg {
  height: 550px;
  width: 100%;
  border-radius: 10px;
  background: rgba(29, 58, 160, 0.90);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe {
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-top: 50px;
}

.sub_info {
  color: #FFF;
  text-align: center;
  width: 700px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140.2%;
  /* 30.844px */
}

.sub {
  display: flex;
  gap: 10px;
  padding-top: 35px;

  input {
    padding: 22px 187px 21px 27px;
    width: 450px;
    border-radius: 10px;
    background: #FFF;
    border: none;
    outline: none;
    color: rgba(21, 26, 38, 0.60);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.5%;
    /* 28.305px */
  }


  button {
    padding: 21px 37px 20px 38px;
    color: #151A26;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: #F2F60F;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.5%;
    /* 29.97px */
  }
}

.politika {
  display: flex;
  gap: 10px;
  padding-top: 22px;

  p {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.2%;
    /* 23.834px */

    span {
      color: #F2F60F;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 140.2%;
      text-decoration-line: underline;
    }
  }
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  gap: 35px;
  padding-bottom: 40px;

  p {
    color: rgba(227, 230, 240, 0.72);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 119%;
    /* 17.85px */
  }

  .under {
    text-decoration: underline;
  }
}

.foot_nav {
  display: flex;
  align-items: center;
  gap: 50px;

  a {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}



.genre_menu {
  overflow-x: scroll;
  width: 500px;
}

.genre_menu::-webkit-scrollbar {
  display: none;
}

.genre {
  white-space: nowrap;
}

.active {
  color: white !important;
}

.swiper_container {
  overflow: hidden;
  position: relative;

  .swiper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    transition: transform 0.3s ease;


    .box {
      display: flex;
      flex-direction: column;
      gap: 12px;
      display: none;
      width: 21%;
      height: 450px;

      .poster {
        border-radius: 10px;
        width: 250px;
        height: 350px;
        position: relative;
        background-size: cover;

        .rating {
          position: absolute;
          top: 12px;
          right: 12px;
          padding: 5px 10px;
          border-radius: 5px;
          background: #4BCB36;
          color: #FFF;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          z-index: 99;
        }

        .hovered {
          display: none;
          position: absolute;
          border-radius: 10px;
          background: rgba(54, 87, 203, 0.65);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .movie_card {
            position: absolute;
            color: #3657CB;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.40);
            translate: -50% -50%;
            top: 50%;
            left: 50%;
            width: 225px;
            height: 71px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }

      .movie_info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .movie_name {
          color: #FFF;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .movie_genre {
          color: #F2F60F;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 50px;

    div {
      cursor: pointer;
    }
  }
}

.trailers {
  h1 {
    padding-bottom: 50px;
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  iframe {
    border-radius: 10px;
    border: none;
  }
}

.other_trailers {
  padding-top: 50px;
  display: flex;
  overflow-x: scroll;
  gap: 50px;

  h2 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .trailer {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;

    .play_btn {
      width: 35px;
      height: 35px;
      position: absolute;
      background-image: url('/public/play.svg');
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      z-index: 999;
    }

    .active_trailer {
      display: none;
      border-radius: 10px;
      background: rgba(54, 87, 203, 0.65);
      width: 100%;
      height: 100%;
    }
  }
}